/* common styles */
* {
    box-sizing: border-box;
}

body, 
html {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "ABeeZee", sans-serif;
    background-color: #f9f9f9;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0 0 0.5rem;
}

figure {
    margin: 0;
}

p {
    margin: 0 0 0.75rem 0;
    text-align: justify;
}

em {
    opacity: 0.8;
    font-weight: 500;
}

/* header and nav */
/* 
the header is fixed at the top of the page
*/
/* default header style, transparent when page is not scrolled */
.header {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    padding: 0.5rem 0 0.5rem 1.5rem;
    background-color: transparent;
}

/* alternative header style, has a background color and used when page is scrolled */
.header-alt {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    padding: 0.5rem 0 0.5rem 1.5rem;
    background-color: rgba(169, 193, 214, 0.85);
}

.logo {
    background-color: transparent;
    max-width: 140px;
    border: none;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 1.5rem;
}

.nav-item {
    color: inherit;
    margin: 0 0 0 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

.nav-item:hover {
    color: rgba(13, 0, 125, 0.65);
}

/* used to create an offset when linking to "about" and "my work" sections, 
to ajust for the fixed header */
.anchor {
    display: block;
    position: relative;
    top: -5rem;
    visibility: hidden;
}

/* hero section */
.hero {
    width: 100%;
    height: 580px;
    margin: 0 0 1rem;
    background: #efefef url(../img/hero-1366.jpeg) no-repeat top;
    background-size: cover;
    border-bottom: rgba(0, 0, 0, 0.25) solid 1px;
}

/* use larger photo for the hero section if screen size is larger than 1366 */
@media screen and (min-width: 1367px) {
    .hero {
        height: 620px;
        background: #efefef url(../img/hero-1920.jpeg) no-repeat top;
        background-size: cover;
    }
}

.hero-text {
    padding: 8rem 0 0 2.5%;
}

.hero-text-primary {
    color: #0d007d;
    font-size: 2.25rem;
    font-weight: 600;
}

.hero-text-secondary {
    color: #0d007d;
    font-size: 1.5rem;
}

/* main content section */
.main-content {
    max-width: 1366px;
    padding: 0 2.5%;
    margin: 0 auto 0.5rem auto;
}

.about {
    margin: 0 0 1.5rem;
}

.about a {
    color: inherit;
}

/* my work section */
/*
the article tag that represents the my work section is a
flex box, and that will be the main element used to achieve
responsivenes 
*/
.my-work {
    display: flex;
    flex-wrap: wrap;
}

/* work sample styles */
.work-sample {
    width: calc((100% - 3rem)/4);
    margin: 0.5rem 0;
}

img {
    width: 100%;
    /* max-height: 210px; */
    border: rgba(0, 0, 0, 0.25) solid 1px;
    border-radius: 0.5rem;
}

/* 
add margins to the projects to create gaps in between
*/
.my-work div {
    margin: 0.5rem;
}

.my-work div:first-of-type {
    margin-left: 0;
}

.my-work div:last-of-type {
    margin-right: 0;
}

.project-title {
    margin: 0.5rem 0;
    font-weight: 600;
}

.project-title a {
    color: inherit;
}

.project-title a:hover {
    color: rgba(0, 0, 0, 0.55);
}

/* footer styles */
footer {
    background-color: #2b2b2b;
    padding: 0.5rem 0 0.5rem 1.5rem;
}

footer a {
    text-decoration: none;
}

.svg-icon {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
}

.footer-text {
    color: rgba(255,255,255,0.55);
}

@media screen and (max-width: 1024px) {
    .hero-text {
        padding: 8rem 0 0 7.5%;
    }

    .main-content {
        padding: 0 7.5%;
        margin: 0 0 0.5rem;
    }

    /* work sample styles */
    .work-sample {
        width: 50%;
        margin: 0.5rem 0;
    }

    .my-work div {
        margin: unset;
    }
    
    .my-work div {
        padding-right: unset;
    }
    /* 
    add padding to the left and right of projects to 
    create a gap in between
    */
    .my-work div:nth-of-type(even) {
        padding-left: 0.75rem;
    }

    .my-work div:nth-of-type(odd) {
        padding-right: 0.75rem;
    }
}

@media screen and (max-width: 428px) {
        /* hero section */
        .hero {
            height: 360px;
            background: #efefef url(../img/hero-768.jpeg) no-repeat top;
            background-size: cover;
        }

        .hero-text {
            padding: 4.5rem 0 0 7.5%;
        }
        
        .hero-text-primary {
            font-size: 1.65rem;
        }

        /* about section */
        /* 
        avoid justifying the last paragraph to avoid
        exessive stretching of "you can reach me at ...." 
        */
        .about p:last-of-type {
            text-align: unset;
        }

        /* my work section */
        /* work sample styles */
        .work-sample {
            width: 100%;
        }

        /* 
        remove extra padding to the left and right of projects
        */
        .my-work div:nth-of-type(even) {
            padding-left: unset;
        }

        .my-work div:nth-of-type(odd) {
            padding-right: unset;
        }
}
/* TODO: check to remove */
/* main, header, nav, footer, section, article, div {
    box-sizing: border-box;

    #454545

} */


/* TODO: remove style references 
    

2px solid rgba(0, 0, 0, 0.15)
rgba(255,255,255,0.55);

background-color: #efefef;
background-repeat: no-repeat;
background-position: top;
background-size: cover;
background-image: url(https://i1.wp.com/abdusabri.com/wp-content/uploads/2017/05/pexels-photo-196645-Large.jpeg?fit=1920%2C1280&ssl=1);

display: flex;
flex-wrap: nowrap;
align-items: center;
justify-content: space-between;
position: relative;

position: fixed;
top: 0px;
width: 810px;

em {
    color: #0d007d;
    font-weight: 700;
}

color: rgba(0, 0, 0, 0.55);
background-color: rgba(169, 193, 214, 1);


color: rgba(0, 0, 0, 0.85);

*/